expected_aws_account_id    = "<aws-account-id>"
aws_region                 = "eu-west-1"
state_bucket_name          = "example-terraform-state-bucket"
budget_notification_email  = "budget-notifications@example.invalid"
github_owner               = "example-owner"
github_owner_id            = "12345"
github_repository          = "example-repository"
github_repository_id       = "67890"
github_environment         = "aws-bootstrap"
